body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body {
    width: 1023px;
    flex-shrink: 0;
}

.dark-blue {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.bright-blue {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
}

.light-grayish-blue {
    background: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.main {
    font-size: 48px;
    font-weight: bolder;
}

.header-bottom,
.header-top {
    display: flex;
    justify-content: space-between;
}

.header-top {
    align-items: center;
    padding: 18px 0 118px;
}

.header-sign-up {
    width: 450px;
    height: 240px;
    padding-bottom: 130px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
    width: 523px;
    height: 240px;
}

.sub, a {
    font-size: 18px;
    color: #e5e7eb;
}

.sub.lower-contrast {
    padding-bottom: 10px;
    filter: contrast(80%);
}

.sign-up {
    width: 132px;
    height: 35px;
    border: none;
}   

.body-information {
    margin-bottom: 120px;
}

.information {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 48px 0;
}

.illustration {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.images {
    width: 170px;
    flex-shrink: 0;
}

.thumbnail {
    border-radius: 14px;
    border: 4px #3882f6 solid;
    height: 160px;
    margin-bottom: 8px;
}

.subtext {
    text-align: center;
    font-size: 18px;
    color: #3F3F3F;
    filter: contrast(80%);
}

.quote-body {
    width: 782px;
    height: 430px;
    padding-left: 44px;
    flex-shrink: 0;
}

.text {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    font-style: italic;
    padding-top: 130px;
}

.author {
    font-size: 24px;
    padding-right: 30px;
    font-weight: bold;
    text-align: end;
}

.container {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.bright-blue.lower-contrast {
    font-weight: normal;
}

.call-to-action {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
}

.call-to-action-sign-up {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 160px;
}

.one {
    font-size: 24px;
}

.sign-up.border-white {
    border: 2px solid white;
    
}

.links {
    display: flex;
    gap: 24px;
    margin: 0;
    list-style-type: none;
}

footer {
    align-items: center;
    height: 100px;
    color: #eee;
}

a {
    text-decoration: none;
}