body {
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.body {
    width: 1025px;
}

.dark-blue {
    background-color: #1f2937;
    color: #f9faf8;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}

.main {
    font-size: 48px;
    padding-bottom: 8px;
    font-weight: bolder;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 118px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 240px;
    padding-bottom: 130px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
    width: 523px;
    height: 240px;
}

.sign-up {
    font-size: 16px;
    font-weight: bold;
    width: 132px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #3882f6;
    color: white;
}

.sub, a {
    font-size: 18px;
    color: #e5e7eb;
}

.sub.lower-contrast {
    padding-bottom: 8px;
    filter: contrast(80%);
}

.information {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 48px 0;
}

.illustration {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 134px;
}

.images {
    display: flex;
    flex-direction: column;
    width: 162px;
}

.thumbnail {
    border-radius: 6px;
    border: 3px #3882f6 solid;
    height: 156px;
}

.subtext {
    display: flex;
    text-align: center;
    font-size: 18px;
    color: #3F3F3F;
    filter: contrast(80%);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #eee;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}